/* Home page */

.home{
    background-image: url("Images/backround.webp");
    background-size:cover;
    height: 100vh;
    position:relative;
    color: white;
    margin: 0;
    padding: 0;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;

    display: block;
   
}

.home h1{
    width: 800px;
    height: 200px; 
    text-align: center;
         
    transform: translate(40%, 185%);
    transform: translate(40%, 185%);
    
   
}




/* Menu bar  */
.menu{
    top: 0;
    float: right;

}


.menu ul li{
    display: inline-block;
   

}
.menu ul li a{
    display: block;
    padding: 10px 20px; 
    color: darkgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.menu ul li a:hover{
    color: white;
}



/* About page */

