.home{
    background-image: url("Images/backround.webp");
   
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    
   
}