

/* @media all and (max-width: 1000px) and (min-width: 800px) { */

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
body{
    padding: 0;
    margin: 0;
    background-color:rgb(16, 14, 23);

}

main{
    height: calc(100% - 80px); /* Adjust the height based on your header height */
    overflow-y: auto;
}

 
/* Home page */

.home{
    background-image: url("Images/backround.webp");
    background-size:cover;
    position:relative;
    color: white;

    height: 100%;
    overflow: hidden;

    margin: 0;
    padding: 0;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;

    

}

.home h1{
    text-align: center;

}



/* Menu bar  */
header{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;

}

header #logo{
    float: left;

}

nav {
    padding: 30px;
    float: right;
}

nav a {
    margin: 0 10px;
    color: darkgrey;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a:hover{
    color: white;
}


/* About page */






